.section{

margin-top:50px;

}

.section h2{

margin-bottom:25px;

color:#0F172A;

}

.question{

background:white;

padding:20px;

border-radius:12px;

margin-bottom:20px;

box-shadow:0 3px 10px rgba(0,0,0,.05);

}

.question p{

font-weight:600;

margin-bottom:15px;

}

.question label{

margin-right:20px;

cursor:pointer;

font-size:15px;

}
